<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
        <!-- to be changed following the need -->

        <!-- if db is hosted on a docker container, needs to use container's url ,username and password-->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/mydb</property>
        <property name = "hibernate.connection.username">root</property>
        <property name = "hibernate.connection.password">root</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Mapping with annotations instead of mapping with xml file -->
        <mapping class="com.DAO.Objects.Article"/>
        <mapping class="com.DAO.Objects.User"/>
        <mapping class="com.DAO.Objects.Category"/>
        <mapping class="com.DAO.Objects.Cart"/>
    </session-factory>
</hibernate-configuration>